@import "base.scss";

.body {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    .body-left {
        max-width: 50%;
        min-width: 40%;
        img {
            display: block;
            width: 100%;
            border: 10px solid white;
            box-shadow: 0 0 10px lightgrey;

        }
    }
    .body-right {
        display: flex;
        flex-direction: column;
        .body-content {
            flex-grow: 1;
        }
    }
}

@media (max-width: 1650px) {
    .body {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;

        .body-left {
            max-width: none;
            min-width: none;

        }

    }
    
}