---
title: About Us
layout: layouts/interior.njk
css: about.css
---

<div class="body">
    <div class="body-left">
        <img src="/assets/about.jpg" class="slide-left animate"/>

    </div>
    <div class="body-right">
        <div class="topper-left">
            {{ topper }}
        </div>
        <div class="body-content">
        {{ content | safe}}
        </div>
        <div>
            <a href="#" class="btn">Get Started Today</a>
        </div>
    </div>
</div>


