<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ global.site_name }}</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="assets/css/fontawesome.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="assets/css/brands.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="assets/css/solid.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body>
    {% include '_nav.njk' %}
    <div class="cta slideshow">
      <div class="cta-slide slideshow-slide">
        <img src="assets/slider-a.jpg" class="cta-img" />
        <div class="cta-title-left">
          <h1>WE ARE AVAILABLE FOR PLUMBING SERVICES</h1>
          <div class="cta-description">
            Our professional plumbers are available to serve you 24 hours a day,
            365 days a year, we will quickly dispatch someone to your location.
          </div>
          <div>
            <a href="#" class="btn-secondary">Our Services</a>
            &nbsp; &nbsp; &nbsp;

            <a href="#" class="btn">Request Service</a>
          </div>
        </div>
      </div>
      <div class="cta-slide slideshow-slide">
        <img src="assets/slider-b.jpg" class="cta-img" />
        <div class="cta-title-right">
          <h1>WE ARE AVAILABLE FOR PLUMBING SERVICES</h1>
          <div class="cta-description">
            Our professional plumbers are available to serve you 24 hours a day,
            365 days a year, we will quickly dispatch someone to your location.
          </div>
          <div>
            <a href="#" class="btn-secondary">Our Services</a>
            &nbsp; &nbsp; &nbsp;

            <a href="#" class="btn">Request Service</a>
          </div>
        </div>
      </div>
    </div>
    <div class="service-cards">
      <div class="row-width-container service-cards-inner">
        <div class="service-card">
          <div class="service-card-img">
            <img src="https://placehold.co/400x200" />
          </div>
          <div class="service-card-text">
            <div class="service-card-title">
              <h3>Residential Plumbing</h3>
            </div>
            <div class="service-card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="service-card-btn">
              <a href="#">Read More &rarr;</a>
            </div>
          </div>
        </div>

        <div class="service-card">
          <div class="service-card-img">
            <img src="https://placehold.co/400x200" />
          </div>
          <div class="service-card-text">
            <div class="service-card-title">
              <h3>Commercial Plumbing</h3>
            </div>
            <div class="service-card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="service-card-btn">
              <a href="#">Read More &rarr;</a>
            </div>
          </div>
        </div>
        <div class="service-card">
          <div class="service-card-img">
            <img src="https://placehold.co/400x200" />
          </div>
          <div class="service-card-text">
            <div class="service-card-title">
              <h3>Drain Cleaning</h3>
            </div>
            <div class="service-card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="service-card-btn">
              <a href="#">Read More &rarr;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service-contact">
      <div class="row-width-container">
        <div class="service-contact-description">
          <h2>
            Emergency Plumbing Services, Residential & Commercial Plumbing
            Services.
          </h2>
          <div>
            We have been serving the people in Nemo enim ipsam voluptatem quia
            voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
            magni dolores eos qui ratione voluptatem sequi nesciunt. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla quis nostrum.
          </div>

          <h4>A full range of plumbing services</h4>
          <div>
            Need assistance dolore mque laudantium, totam rem aperiam, eaque
            ipsa quae ab illo invent ore veritatis et quasi architecto beatae
            vitae dict eaque ipsa quae ab illo inventore teritatis et quasi
            architecto. Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium dolore mque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo invent ore veritatis et quasi architecto
            beatae vitae dict eaque ipsa quae.
          </div>

          <div>
            Need assistance dolore mque laudantium, totam rem aperiam, eaque
            ipsa quae ab illo invent ore veritatis et quasi architecto beatae
            vitae dict eaque ipsa quae ab illo inventore teritatis et quasi
            architecto. Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium dolore mque laudantium.
          </div>

          <div>
            <a href="#" class="btn">View Our Services</a>
          </div>
        </div>
        <div class="service-contact-form">
          <form>
            <h3>Schedule Your Service</h3>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="text" placeholder="Phone Number" />
            <input type="text" placeholder="Interest of Service" />
            <textarea placeholder="Message"></textarea>
            <div>
              <a href="#" class="btn-small">Submit</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="emergency-banner">
      <div>
        If you need any emergency plumbing service, simply call our 24 hour
        emergency number
      </div>
      <div>
        <h3>Reliable Emergency Plumbing Service with Fair rates</h3>
      </div>
      <div>
        <a href="#" class="btn-white">
          <i class="fa-solid fa-phone"></i> &nbsp; 800-123-1234</a
        >
      </div>
    </div>
    <div class="about-us">
      <div>
        <div class="about-us-img">
          <img src="https://placehold.co/400x300" />
        </div>
        <div class="about-us-text">
          <h3>
            <span class="topper-left">About Us</span>
            Your Neighborhood Plumber. Your best choice for plumbing services in
            San Francisco.
          </h3>
          <div>
            The best choice for professional plumbing services enim aliquam,
            condim entum nisl laoreet lectus. Aliquam convallis sed elit nec
            vehicula. Praesent gravida massa sit amet ullam corper fringilla.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla.
          </div>
          <div class="about-us-btn">
            <a href="#">Know More About Us &rarr;</a>
          </div>
        </div>
      </div>
      <div class="about-us-cards">
        <div class="about-us-card">
          <div class="about-us-card-icon"></div>
          <div class="about-us-card-title">Lots of Plumbers</div>
          <div class="about-us-card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit viverra nec
            suscipit venenatis.
          </div>
        </div>
        <div class="about-us-card">
          <div class="about-us-card-icon"></div>
          <div class="about-us-card-title">We are Trusted</div>
          <div class="about-us-card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit viverra nec
            suscipit venenatis.
          </div>
        </div>
        <div class="about-us-card">
          <div class="about-us-card-icon"></div>
          <div class="about-us-card-title">Best Support</div>
          <div class="about-us-card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit viverra nec
            suscipit venenatis.
          </div>
        </div>
      </div>
    </div>
    {% include '_foot.njk' %}

    <script src="/scripts/script.js"></script>
    <script src="/scripts/slideshow.js"></script>
  </body>
</html>
